.greeting {
    font-family: 'Noto Serif', serif;
    font-size: 9rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact-details {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.contact-details-item {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 700px) {
    .greeting {
        font-size: 6rem;
    }
    .contact-details {
        font-size: 1.25rem;
    }
    .contact-details-item {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .greeting {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .contact-details {
        font-size: 1rem;
    }
}