* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #36454F;
}

html, body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    background: rgb(255, 254, 233);
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

nav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 90vh;
    z-index: 2;
}

.navLinks {
    display: flex;
    flex-direction: column;
}

nav a {
    margin-bottom: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(172, 171, 171);
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: black
}

.active {
    color: black;
}

.active:hover {
    color: black !important;
}

.line {
    height: 1px;
    width: 0;
    background: rgb(19, 18, 18);
}

.scrolled.line {
    animation: drawLine 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.scrolled {
    animation: fadein 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background: #36454F;
    width: 100vw;
    cursor: default;
}

@keyframes fadein {
    0% { 
        transform: translateY(30px);
        opacity: 0; 
    }
    100% { 
        transform: translateY(0px);
        opacity: 1; 
    }
}

@keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}