@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #2e242c;
}

html, body {
    min-height: 100%;
    overscroll-behavior: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    align-items: center;
    white-space: nowrap;
}

.navTitle {
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
}

.navLinks {
    display: inline-block;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    color: grey;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #2e242c;;
}

.footer {
    width: 80%;
    height: 20px;
    position: absolute;
    left: 10%;
    bottom: 0;
    border-top: 1px solid rgb(206, 204, 204);
    display: flex;
    justify-content: center;
}

.footerContent {
    font-size: 0.75rem;
    color: rgb(206, 204, 204);
}