@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    color: rgb(238, 231, 225);
}

html, body {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    width: 100%;
    background: rgb(26, 25, 25);
    z-index: 1;
} 

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 99%;
    background: rgb(26, 25, 25);
    border-bottom: 1px solid rgb(238, 231, 225);
    z-index: 2;
}

nav a {
    margin-right: 1rem;
    font-weight: 400;
    color: rgb(172, 171, 171);
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: rgb(238, 231, 225);
}

.active {
    color: rgb(238, 231, 225);
}

.active:hover {
    color: rgb(238, 231, 225) !important;
}
