.container {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.textContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    width: 50%;
}

.quote {
    font-weight: 700;
    font-size: 5vw;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.citation {
    color: grey;
    display: inline-block;
    font-size: 2.5vw;
}

.bodyText {
    display: inline-block;
}
