.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    cursor: default;
}

.navBar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navOption {
    margin-left: 2rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.navOption:hover {
    color: #6a7f8b;
}

.textContainer {
    margin-top: 9rem;
    margin-bottom: 9rem;
    width: 1040px;
}

.photoContainer {
    object-fit: cover;
    opacity: 0;
}

.quote {
    font-family: 'Noto Serif', serif;
    font-size: 4rem;
    align-self: flex-start;
}

.italic {
    font-family: Noto Serif;
    font-weight: 400;
    font-style: italic;
}

.containerMid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 9rem;
}

.containerMidLeft {
    display: flex;
}

.containerSmall {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 4vw;
}

.containerSmallTextBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.containerSmallText {
    color: grey;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.containerSmallTextLarge {
    font-size: 1.2rem;
}

@media screen and (max-width: 1160px) {
    .textContainer {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .textContainer {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .quote {
        font-size: 3rem;
    }
}

@media screen and (max-width: 950px) {
    .container {
        width: 95vw;
    }
}

@media screen and (max-width: 775px) {
    .container {
        align-items: center;
    }
    .containerMid {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 4rem;
        width: fit-content;
    }
    .photoContainer {
        margin-bottom: 2rem;
    }
    .containerMidLeft {
        width: 100%;
        justify-content: space-between;
    }
    .containerSmall {
        width: 42.5%;
        margin-right: 0;
    }
}

@media screen and (max-width: 685px) {
    .quote {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 450px) {
    .quote {
        font-size: 2rem;
    }
}
