@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@600&display=swap');

.container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.projectContainer {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    animation: fadein 1.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 2rem;
}

/* .reactorContainer {
    background: #212121;
}

.spotifyContainer {
    background: #212121;
} */

.projectTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: Novo Serif;
    font-weight: 700;
    display: inline-block;
    line-height: 1.5rem;
}

.spotifyText {
    color: white;
}

.projectInfo {
    display: flex;
}

/* .projectImageFrame {
    width: 60vw;
    height: 33.75vw;
    background: #ccf7d9;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.projectImageContainer {
    width: 50.5vw;
    height: 32vw;
    background: #74e997;
    margin-right: 2rem;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectDescriptionContainer {
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.projectDescription {
    /* font-size: calc(1rem + 0.25vw);
    line-height: calc(1.5rem + 0.5vw); */
    line-height: 1.5rem;
}
/* 
@media screen and (max-width: 1024px) {
    .title {
        font-size: 13vw !important;
    }
    .titleSub {
        font-size: 5vw !important;
    }
    .topPanel {
        flex-direction: column;
        align-items: center;
    }
    .videoContainer {
        width: 75vw !important;
        height: 46.5vw !important;
        margin-bottom: 8vw;
    }
    .text {
        width: 75vw !important;
        text-align: center;
    }
    .featureBox {
        width: 75vw !important;
    }
    .featureImage {
        width: 70vw !important;
        height: 43.4vw !important;
        margin-bottom: 5vw;
    }
    .featureTextBox {
        width: 70vw !important;
        text-align: center;
    }
} */

@keyframes fadein {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}


