
.projectsHeader {
    font-size: 4.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: inline-block;
    color: #36454F;
    opacity: 0;
}

.projectContainer {
    display: flex;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.projectTitle {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    line-height: 2.5rem;
    color: #36454F;
    opacity: 0;
}

.projectInfo {
    display: flex;
}

.projectDescriptionContainer {
    display: flex;
    flex-direction: column;
}

.projectDescription {
    line-height: 1.75rem;
    font-size: 1.2rem;
    color: grey;
    margin-bottom: 2rem;
    opacity: 0;
}

.italic {
    color: grey;
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.projectLinks {
    display: flex;
    opacity: 0;
}

.projectLink {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin-right: 1rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border: 2px solid #36454F;
    transition: color border 0.2s ease-in-out;
}

.projectLink:hover {
    border: 2px solid #6a7f8b;
    color: #6a7f8b;
}


@media screen and (max-width: 1120px) {
    .projectContainer {
        flex-direction: column;
    }
    .projectDescriptionContainer {
        width: 80vw;
    }
}

@media screen and (max-width: 950px) {
    .projectContainer {
        padding-top: 2.5rem;
    }
    .projectsHeader {
        font-size: 3.5rem;
    }
    .projectTitle {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 700px) {
    .projectDescriptionContainer {
        width: 95vw;
    }
    .projectDescription {
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .projectsHeader {
        font-size: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .projectsHeader {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .projectTitle {
        font-size: 1.75rem;
    }
}

